<h1>Welcome to The X-Files</h1>
<h2>Finding UFO</h2>
<form action='/'>

  <label for="city">City : </label>
  <input type="text" name="city" placeholder="Corona" value="<%=query.city %>" />

  <label for="state">State : </label>
  <input type="text" name="state" placeholder="CA" value="<%=query.state %>" />

  <label for="shape">Shape : </label>
  <input type="text" name="shape" placeholder="sphere" value="<%=query.shape %>" />

  <label for="shape">Date : </label>
  <input type="date" name="date" value="<%=query.date %>" />

  <input type="submit" value="Submit">

</form>